#background{
    height: 160vh;    
}
.centre
{ 
    width: 460px;
    position: absolute;
    top: 14vh;
    left: 35%;
    right: 35%;
    background-color: black;
    opacity: 0.75;
}
.email{
    margin: 20px 70px 0 70px;
    color: #737373;
}
#signin{
    background-color: red;
    color: white;
    width: 70%;
    font-weight: bold;
    height: 50px;
    border-radius: 5px;
    margin: 40px 0 15px 70px;
}
#checkbox
{
    color: white;
    margin-left: 73px;
    margin-bottom: 80px;
    font-size: 13px;
}
#remember{
    position: relative;
    top: -5px;
}
span{
    margin-left: 140px;
    position: relative;
    top: -7px;
}
.centrefooter{
    font-size: 13px;
    margin-right: 80px;
    line-height: 15px;
    margin-bottom: 120px;
}
.footer{
    border: 0;
    opacity: 0.75;
    position: absolute;
    top: 115%;
    height: 335px;
    width: 100%;
    color: rgb(162, 155, 155);
}
#lang
{
    color:rgb(162, 155, 155);
    height: 40px;
    width: 100px;
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    padding-right: 10px;
    border-radius: 5%;
    margin-bottom: 10px;
}